.footer {
background: #000000;
opacity: .9;
color:silver;
}

.bg-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.main {
  position: relative; /* To make the corousel fit to full width of container */
  padding: 0;
}

.covertext {
  position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
  top: 80px;  /*The distance between the div with the top of document */
  left: 0px;  /* Make the div full width */
  right: 0px; /* Make the div full width */
}

@media (max-width: 768px) { /* for smaller screen */
  #carouselExampleControls {
    margin: 0px auto;
    padding-top: 65px;
  }
  .covertext {
    position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
    top: 10px; /* The distance between the div with the top of document */
    left: 0px; /* Make the div full width */
    right: 0px; /* Make the div full width */
  }
  #call_btn{
    visibility: hidden; /*on smaller screen make call btn hidden */
  }
  #caption {
    visibility: hidden;
  }
}

#social_btn {
  margin-top: 30px; /* to make some distance between call btn and social media btn on small screen */
}

#caption {
  margin-bottom: 225px;
  font-size: 28px;
  font-style: oblique;
}

#call_btn {
  margin-top: 50px;
}
